In [ ]:
SELECT name, email_address
FROM Employees;

In [ ]:
SELECT *FROM Customers
WHERE City = 'New York';

In [ ]:
SELECT * FROM Users
ORDER BY DateOfBirth DESC;

In [ ]:
SELECT * FROM Users
ORDER BY RegistrationDate ASC;

In [ ]:
SELECT name, position, salary
FROM Employees
WHERE salary = (SELECT MAX(salary) FROM Employees);

In [ ]:
SELECT *
FROM Customers
WHERE Phone LIKE '+1-___-___-____';

In [ ]:
SELECT customer_name, SUM(order_amount) AS total_purchase_amount
FROM Orders
GROUP BY customer_name
ORDER BY total_purchase_amount DESC
LIMIT 5;

In [ ]:
SELECT category_name, SUM(sales_amount) AS total_sales_amount,
       (SUM(sales_amount) / (SELECT SUM(sales_amount) FROM Sales)) * 100 AS sales_percentage
FROM Sales
GROUP BY category_name;

In [ ]:
SELECT customer_name, email_address, SUM(order_amount) AS total_purchase_amount
FROM Orders
GROUP BY customer_name, email_address
HAVING SUM(order_amount) = (
    SELECT MAX(total_purchase_amount)
    FROM (
        SELECT customer_name, SUM(order_amount) AS total_purchase_amount
        FROM Orders
        GROUP BY customer_name
    ) AS subquery
);